h4{
    padding-left: 40px;
}

.search_box{
    background-color: rgb(238, 237, 237);
}

label{
    margin-left: 15px;
}

.search_button{
    margin-left: 15px;
}

a{
    text-decoration: none;
}

.count{
    margin-top: 10px;
    margin-left: 15px;
}

.add-btn{
    margin-right: 30px;
}

.scroll_area{
    overflow: auto;
    height: 40vh;
    position: relative;
}

.table{
    text-align: center;
    margin: 0;
    border-spacing: 0;
}

.general{
    display: none;
}

.disabled_line{
    background-color: grey;
}

.disabled_button{
    display: none;
}

th{
    white-space: nowrap;
    background: #f2f2f2;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}

th .general{
    display: none;
}

.table-bordered {
    width: 100%;
    border-collapse: collapse;
}

.table-bordered th, .table-bordered td {
    text-align: center;
}

/* パスワードモーダル */
/* オーバーレイ(背景)*/
.overlay{
    position: fixed;
    top: 0;
    left: 0;
    /* 画面いっぱいに背景色を広げる */
    width: 100%;
    height: 50%;
    display: flex;
    /* デフォルト非表示にする */
    display: none;
}

.modal{
    /* モーダル画面の大きさ */
    max-width: 50%;
    max-height: 50%;
    /*モーダル画面の位置 */
    margin-left: 25%;
    margin-top: 10%;
    margin-bottom: 15%;
    /* 見た目を整える */
    padding: 15px 20px;
    background: #ffffff;
    border: 1px solid #000;
    /* デフォルトでは非表示にしておく */
    display: none;
}

ul li {
    list-style: none;
}

ul label {
    margin-right: 10px;
    width:200px;
}

.modal-password-form{
    padding-top: 5%;
}

#password {
    box-sizing: border-box;
    padding-right: 2.4em;
}

#toggleIcon {
    position: relative;
    left: -2.2em;
}

.bi-pencil{
    padding: 0 10px;
}


.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

p{
    display: none;
}