h3{
    font-weight: normal;
}
a{
    text-decoration: none;
}

.count{
    margin-top: 10px;
    margin-left: 15px;
}

.add-btn{
    margin-right: 30px;
}

.scroll_area{
    overflow: auto;
    height: 250px;
    position: relative;
}
 .table{
    text-align: center;
    margin: 0;
    border-spacing: 0;
}

th{
    white-space: nowrap;
    background: #f2f2f2;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}

td{
    white-space: nowrap;
}



/* パスワードモーダル */
/* オーバーレイ(背景)*/
.overlay{
    position: fixed;
    top: 0;
    left: 0;
    /* 画面いっぱいに背景色を広げる */
    width: 100%;
    height: 50%;
    display: flex;
    /* デフォルト非表示にする */
    display: none;
}
.modal{
    /* モーダル画面の大きさ */
    max-width: 50%;
    max-height: 50%;
    /*モーダル画面の位置 */
    margin-left: 25%;
    margin-top: 10%;
    margin-bottom: 15%;
    /* 見た目を整える */
    padding: 15px 20px;
    background: #ffffff;
    border: 1px solid #000;
    /* デフォルトでは非表示にしておく */
    display: none;
}

.modal-password-form{
    padding-top: 5%;
}
