body {
  /* margin: 0px; */
  width: 100%;
  height: 100%;
}

.header-title {
 background-color:#e3f2fd ;
 height: 60px;
}

a {
	text-decoration: none;
  }

h3{
	margin-left: 15px;
	font-weight: normal;
	line-height: 50px;
}

.login-form {
	display:flex;
	flex-flow: column;
}

.content {
	padding:1em;
	margin:0.5em auto;
	width:50%;
	text-align: center;
}

.row{
	margin-top: 20px;
}

.label{
	text-align: right;
}

.toggle-pass{
    position:absolute;
}


#id {
	box-sizing: border-box;
	width: 13.7em;
}

#password {
    box-sizing: border-box;
    padding-right: 2.4em;
}
#toggleIcon {
    position: relative;
    left: -2.2em;
  }

#passwordIcon {
	position: relative;
	left: -2.2em;
  }

.login-button{
	width: 300px;
}

#logIcon{
	position: absolute;
	left: -2.2em;
}